body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p {
    margin:auto
}
.nav-items {
    display: flex;    
}
.navbar-brand {
    font-size:x-large;
}
.title {
    min-width:150px;
}
.author-button {
    width: 130px;
}
.add-book-button {
    width: 100px;
    margin-right: 10px;
}
.homeBackground {
    background-image: url('./images/library_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.homeBackground p {
    color: white;
    font-size: xx-large;
}
.input-group {
    display:flex;
    flex-wrap: nowrap;
}
.input-group .multiselect .optionContainer {
    max-height: 100px;
}
#pageTitle {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 25px;    
}
.search-bar {    
    width:45%
}
#searchLabel {
    background-color: #D3D3D3;
}
.authorData {
    min-width:150px;
    max-width:150px;
    height: 150px;
}
.biography {
    min-width:150px;
    max-width:500px;
    height: 150px;
    text-wrap: wrap;
}
.actionButtons {
    margin:2px;
}
.editIcon{
    font-size: large;
}
.trashIcon{
    font-size: large;
}
.book-wrapper, .music-wrapper {
    display:flex;
    justify-content: start;
    align-content: center;
    margin: 3px;
    padding-bottom: 20px;
}
.container {
    margin-top: 100px;
}
.book-wrapper img {
    width:130px;
    height:180px;
    margin-top:15px;
}
.errorModal {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-weight: bold;    
}
.music-wrapper img {
    width:170px;
    height:170px;
    margin-top:15px;
}
.book-wrapper h2, .music-wrapper h2{
    align-self:center;
    margin-left:15px;
}
.bookModal, .musicModal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left:25px;
    font-size: large;
}
.bookModal p, .musicModal p {
    font-weight: bold;
    margin-bottom: 10px;
}
.bookModal span, .musicModal span {
    font-weight: lighter;
}
.musicImg {
    height: 180px;
    width: 180px;
    margin-top: 15px
}
.user-heading, .author-heading {
    color: black;
    font-weight: lighter;
}

.bookHolds h5, .movieHolds h5, .musicHolds h5{
    text-decoration: underline;
}
.holdItems {
    font-weight:400;
    font-size: large;
}


